.App {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  /* background-color: #f8f6fa; */
  background-color: #fcfcff;
  /* background-color: #ececf8; */
  flex-direction: column;
  /* { display: "flex", minWidth: "100%", minHeight: "100%", backgroundColor: "#e1eef1" } */
}
