@keyframes blink {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink2 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  animation: blink 1s infinite;
}
.dot-2 {
  animation: blink2 1s infinite;
}

.TextInputAdapter-textarea {
  position: "absolute";
  top: -100px;
  resize: none;
  width: 0px;
  height: 0px;
  background: transparent;
  border: none;
  -webkit-highlight: none;
  outline: none;
  color: transparent;
}
