@keyframes Cursor-cursor-blink1-keyframes {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Cursor-cursor-blink2-keyframes {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Cursor-cursor-blink1 {
  animation: Cursor-cursor-blink1-keyframes 1s infinite;
}
.Cursor-cursor-blink2 {
  animation: Cursor-cursor-blink2-keyframes 1s infinite;
}

.Cursor-cursor-blink1,
.Cursor-cursor-blink2 {
  position: absolute;
  width: 0px;
  border-radius: 4px;
}

.Editor.insert-mode .Cursor-cursor-blink1,
.Editor.insert-mode .Cursor-cursor-blink2 {
  border: solid 1px #de8029;
  background-color: #de8029;
}

.Editor.command-mode .Cursor-cursor-blink1,
.Editor.command-mode .Cursor-cursor-blink2 {
  border: solid 1px #8229de;
  background-color: #8229de;
}

.Cursor-cursor {
  transition-property: left top height;
  transition-duration: 0.03s;
  transition-timing-function: ease-in-out;
}

.Editor:not(:focus-within) .Cursor-cursor-blink1,
.Editor:not(:focus-within) .Cursor-cursor-blink2 {
  animation: none;
  background-color: #666;
  border: solid 1px #666;
  /* background-color: #ccc; */
  /* transition-duration: 1000s; */
}
