.Editor {
  /* This is needed to get whitespace to be honored AND line breaks inside inline content */
  white-space: break-spaces;
  padding: 10px;
  font-size: 18px;
  font-family: "Source Serif", sans-serif;
  font-kerning: normal;
  font-feature-settings: "kern" 1; /* TODO check that this works */
  line-height: 1.35em;
  outline: none;
  flex: 1;
  /* -webkit-hyphens: auto; <-- this looks kinda cool but support is sorta spoty AND it messes up some of the live movement code */
  text-rendering: optimizeLegibility;
  /* justify text is cool, but not supported on all browsers or langauges and left align seems ok on webpages anyways... */
  text-align: left;
  /* letterSpacing: "0.05em",
  fontFamily: "'Fira Sans', sans-serif",
  fontFamily: "'Fira Sans Condensed', sans-serif", */
  user-select: none;
  word-break: break-word;
}

.Editor-textarea {
  font-size: 18px;
  font-family: "Source Serif", sans-serif;
  font-kerning: normal;
  font-feature-settings: "kern" 1; /* TODO check that this works */
  line-height: 1.35em;

  position: absolute;
  top: -100px;
  resize: none;
  width: 0px;
  height: 0px;
  background: transparent;
  border: none;
  -webkit-highlight: none;
  outline: none;
  color: transparent;
  overflow: hidden;
}

.Editor-textarea-composting {
  width: 200px;
  height: 1.35em;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  /* border: none; */
  /* -webkit-highlight: none;
  outline: none;
  color: transparent;
  overflow: hidden; */
}

.Editor h1 {
  font-size: 40px;
  font-weight: 600;
  /* color: #8229de; */
  /* text-shadow: 1px 1px black; */
  /* -webkit-text-stroke: 0.5px #9b86b1; */
  /* -webkit-text-stroke: 1px #8229de; */
  /* border-bottom: solid 1px #555; */
}
.Editor h2 {
  font-size: 30px;
  font-weight: 600;
}
.Editor h3 {
  font-size: 20px;
  font-weight: 600;
}
